extends layout

block content
  main.container
  .bg-light.p-5.rounded.m-5
    h1= title
    p Welcome to #{title}
    div
      a.btn.btn-primary.m-1(href='/generate', role='button') Generate QR Codes
      a.btn.btn-primary.m-1(href='/list', role='button') List QR Codes
